<!-- <img md-card-image *ngFor="let foto of multimediaImages" md-card-image src="{{foto.url}}" alt="Photo of a Shiba Inu"> -->
<!-- If images array is dynamically changing pass this array to [items] input -->
<!-- classes to be attached along with owl-carousel class -->
<md-tab-group>
    <md-tab label="Pendientes">
        <md-sidenav-container class="tareas-container">
            <md-sidenav #sidenav mode="side" opened="true" class="tareas-sidenav">
                <ex-timelinelist (onSelect)="onSelectItem($event)"></ex-timelinelist>
            </md-sidenav>

            <div class="tareas-sidenav-content" *ngIf="!!notificacion">
                <div class="main-content">
                    <md-card class="example-card">
                        <md-card-header>
                            <div md-card-avatar class="example-header-image"></div>
                            <md-card-title>{{tarea.nombre}}</md-card-title>
                            <md-card-subtitle>{{tarea.creator.username}}</md-card-subtitle>
                            <span class="flex"></span>
                            <md-checkbox [checked]="notificacion.completado" (change)="onCheckTarea($event)" (click)="stop($even)" class="example-margin"></md-checkbox>
                        </md-card-header>

                        <div md-card-image>
                            <ul class="bxslider">
                                <li *ngFor="let foto of multimediaImages; let last = last"><img [src]="foto.url" />{{onLoad(last)}}</li>
                            </ul>
                        </div>
                        <md-card-content>
                            <p>{{tarea.descripcion}}</p>
                            <md-expansion-panel class="expansion-panel " *ngIf="multimediaAudios.length> 0">
                                <md-expansion-panel-header>
                                    <md-panel-title>Audios</md-panel-title>
                                </md-expansion-panel-header>
                                <div *ngFor="let multimedia of multimediaAudios">
                                    <audio controls>
                                        <source src="{{multimedia.url}}" type="audio/aac"/>
                                        tu navegador no soporta reproduccion de audios
                                    </audio>
                                </div>
                            </md-expansion-panel>
                        </md-card-content>
                        <md-card-actions>
                            <button md-button>LIKE</button>
                            <button md-button>SHARE</button>
                        </md-card-actions>

                    </md-card>

                    <md-accordion class="example-headers-align">
                        <md-expansion-panel *ngFor="let subtarea of tarea.subtareas" hideToggle="true">
                            <md-expansion-panel-header>
                                <md-checkbox [checked]="!!subtarea.completado" [disabled]="notificacion.completado" (click)="stop($even)" (change)="onCheckSubTarea($event)"></md-checkbox>
                                <md-panel-title>{{subtarea.nombre}}</md-panel-title>
                            </md-expansion-panel-header>
                            <md-panel-description>{{subtarea.descripcion}}</md-panel-description>
                        </md-expansion-panel>
                    </md-accordion>
                </div>
            </div>
            <div class="no-tarea" *ngIf="!notificacion">
                <p>No hay tareas pendientes</p>
            </div>
        </md-sidenav-container>
    </md-tab>
    <md-tab label="Realizadas">Content 2</md-tab>
</md-tab-group>
