<div>
    <mat-select [(ngModel)]="selectedValue">
        <mat-option value="----">----</mat-option>
        <mat-option value="Intervalo">Intervalo</mat-option>
        <mat-option value="Dias de la semana">Dias de la semana</mat-option>
        <mat-option value="Dias del mes">Dias del mes</mat-option>
        <mat-option value="Meses del año">Meses del año</mat-option>
    </mat-select>
</div>

<div>
    <table class="table-date">
        <tr>
            <td>
                <mat-form-field>
                    <input type="text" placeholder="Fecha de Ejecucion" matInput>
                </mat-form-field>
            </td>
            <td *ngIf="selectedValue !== '----'">-</td>
            <td *ngIf="selectedValue !== '----'">
                <mat-form-field>
                    <input type="text" placeholder="Fecha de Finalizacion" matInput>
                </mat-form-field>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="selectedValue === 'Intervalo'">
    <mat-select [(ngModel)]="selectedIntervalo">
        <mat-option *ngFor="let item of options" [value]="item.value">{{item.title}}</mat-option>
    </mat-select>
    <br>
    <mat-form-field>
        <input type="number" placeholder="Cada" matInput>
    </mat-form-field>
</div>

<div *ngIf="selectedValue === 'Dias de la semana'">
    <mat-checkbox>Lun</mat-checkbox>
    <mat-checkbox>Mar</mat-checkbox>
    <mat-checkbox>Mie</mat-checkbox>
    <mat-checkbox>Jue</mat-checkbox>
    <mat-checkbox>Vie</mat-checkbox>
    <mat-checkbox>Sab</mat-checkbox>
    <mat-checkbox>Dom</mat-checkbox>
</div>

<div *ngIf="selectedValue === 'Meses del año'">
    <mat-select placeholder="Meses" [(ngModel)]="selectedMes" multiple="true">
        <mat-option value="Enero">Enero</mat-option>
        <mat-option value="Febrero">Febrero</mat-option>
        <mat-option value="Marzo">Marzo</mat-option>
        <mat-option value="Abril">Abril</mat-option>
        <mat-option value="Mayo">Mayo</mat-option>
        <mat-option value="Junio">Junio</mat-option>
        <mat-option value="Julio">Julio</mat-option>
        <mat-option value="Agosto">Agosto</mat-option>
        <mat-option value="Septiembre">Septiembre</mat-option>
        <mat-option value="Octubre">Octubre</mat-option>
        <mat-option value="Noviembre">Noviembre</mat-option>
        <mat-option value="Diciembre">Diciembre</mat-option>
    </mat-select>


</div>

<div *ngIf="selectedValue === 'Meses del año' || selectedValue === 'Dias del mes'">
    <table class="table-day">
        <tr>
            <td>
                1 <input type="checkbox" name="day" value="1">
            </td>
            <td>
                2 <input type="checkbox" name="day" value="2">
            </td>
            <td>
                3 <input type="checkbox" name="day" value="3">
            </td>
            <td>
                4 <input type="checkbox" name="day" value="4">
            </td>
            <td>
                5 <input type="checkbox" name="day" value="5">
            </td>
            <td>
                6 <input type="checkbox" name="day" value="6">
            </td>
            <td>
                7 <input type="checkbox" name="day" value="7">
            </td>
        </tr>
        <tr>
            <td>
                8 <input type="checkbox" name="day" value="8">
            </td>
            <td>
                9 <input type="checkbox" name="day" value="9">
            </td>
            <td>
                10 <input type="checkbox" name="day" value="10">
            </td>
            <td>
                11 <input type="checkbox" name="day" value="11">
            </td>
            <td>
                12 <input type="checkbox" name="day" value="12">
            </td>
            <td>
                13 <input type="checkbox" name="day" value="13">
            </td>
            <td>
                14 <input type="checkbox" name="day" value="14">
            </td>
        </tr>
        <tr>
            <td>
                15 <input type="checkbox" name="day" value="15">
            </td>
            <td>
                16 <input type="checkbox" name="day" value="16">
            </td>
            <td>
                17 <input type="checkbox" name="day" value="17">
            </td>
            <td>
                18 <input type="checkbox" name="day" value="18">
            </td>
            <td>
                19 <input type="checkbox" name="day" value="19">
            </td>
            <td>
                20 <input type="checkbox" name="day" value="20">
            </td>
            <td>
                21 <input type="checkbox" name="day" value="21">
            </td>
        </tr>
        <tr>
            <td>
                22 <input type="checkbox" name="day" value="22">
            </td>
            <td>
                23 <input type="checkbox" name="day" value="23">
            </td>
            <td>
                24 <input type="checkbox" name="day" value="24">
            </td>
            <td>
                25 <input type="checkbox" name="day" value="25">
            </td>
            <td>
                26 <input type="checkbox" name="day" value="26">
            </td>
            <td>
                27 <input type="checkbox" name="day" value="27">
            </td>
            <td>
                28 <input type="checkbox" name="day" value="28">
            </td>
        </tr>
        <tr>
            <td>
                29 <input type="checkbox" name="day" value="29">
            </td>
            <td>
                30 <input type="checkbox" name="day" value="30">
            </td>
            <td>
                31 <input type="checkbox" name="day" value="31">
            </td>
        </tr>
    </table>
</div>
