.base-tarea-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.base-tarea-sidenav-content{
    height: 100%;

    .main-content {
        padding: 20px;
        display: flex;
        height: calc(100% - 64px);
        flex-direction: column;
        .flex{
            flex: 1;
            overflow: auto;
        }
    }
}


.base-tarea-sidenav {
    width: 260px;
}
