{% extends '_base.html' %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col col-12" id="usuarios">
              <h4>Usuarios Conectados</h4>
              <ul class="list-group">

              </ul>
          </div>
          <div class="col col-12" id="databiding">
              <h4>Databiding</h4>
              <ul class="list-group">

              </ul>
          </div>
      </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    const webSocketBridge = new channels.WebSocketBridge();
    {% if cuenta %}
    const ws_url = "/es/{{cuenta.pk}}/";
    {% else %}
    const ws_url = "/es/0";
    {% endif %}
    webSocketBridge.connect(ws_url);
    webSocketBridge.listen(function(data) {
      var estatus;
      var clase;
      if(data.is_logged_in){
          estatus = "Online";
          clase = "list-group-item-info";
      }else{
           estatus = "Offline";
           clase = "list-group-item-danger";
      }
      $("#usuarios .list-group").append('<li class="list-group-item '+clase+'">'+data.username+' - '+estatus+'</li>');
    });


    webSocketBridge.demultiplex('cargo', function(action, stream) {
      console.log(action, stream);
      render(action, stream);
    });
    webSocketBridge.demultiplex('empleado', function(action, stream) {
      console.log(action, stream);
      render(action, stream);

    });
    webSocketBridge.demultiplex('asistente', function(action, stream) {
      console.log(action, stream);
      render(action, stream);

    });
    webSocketBridge.demultiplex('grupo', function(action, stream) {
      console.log(action, stream);
      render(action, stream);

    });
    webSocketBridge.demultiplex('tipo', function(action, stream) {
      console.log(action, stream);
      render(action, stream);
    });


    webSocketBridge.socket.addEventListener('open', function() {
        console.log("Connected to WebSocket");
    });
    webSocketBridge.socket.addEventListener('close', function() {
        console.log("Disconnected to WebSocket");
    });

    function render(data, stream){
        $("#databiding .list-group").append('<li class="list-group-item list-group-item-success">Stream: <b>'+stream+'</b>, Acción: '+data.action+' Model: '+data.model+'</li>');
    }
  </script>
{% endblock script %}
