{% extends '_base.html' %}

{% block content %}
  <ul>
    <li>Usuarios</li>
  </ul>
{% endblock content %}

{% block script %}
  <script>
    {% if cuenta %}
    var socket = new WebSocket('ws://' + window.location.host + '/test/'+ '{{cuenta.pk}}'+ '/');
    {% else %}
    var socket = new WebSocket('ws://' + window.location.host + '/test/0/');
    {% endif %}
    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      console.log(data);
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['username']);
      var user = $('li').filter(function () {
        return $(this).data('username') == username;
      });
      console.log(user);
      if(user.length){
        if (data['is_logged_in']) {
          console.log("Existe");
          console.log(user);
          user.text(username + ': Online');
        }
        else {
          user.text(username + ': Offline');
        }
      }else{
        console.log("entro")
        if (data['is_logged_in']) {
          $("ul").append("<li>"+username + ': Online'+"</li>");
        }
        else {
          $("ul").append("<li>"+username + ': Offline'+"</li>");
        }
      }

    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}
