<ex-form #f icon="assignment" title="Tareas" [form]="form" [service]="service" [columns]="columns" [renderinputs]="renderinputs" [debug]="debug">
    <div bottom-form class="row">
        <div class="col-lg-6">
            <div class="form-horizontal">
                <div class="row">
                    <label class="col-lg-3 label-on-left" for="id_cargo">Lugar:</label>
                    <div class="col-lg-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <ex-autocomplete name="lugar" [service]="_l" [form]="form" [item]="_form.item" [itemVal]="itemLugar"></ex-autocomplete>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-horizontal">
                <div class="row">
                    <label class="col-lg-3 label-on-left" for="id_cargo">Cliente:</label>
                    <div class="col-lg-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <ex-autocomplete name="cliente" [service]="_c" [form]="form" [item]="_form.item" [itemVal]="itemCliente"></ex-autocomplete>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-horizontal">
                <div class="row">
                    <label class="col-lg-3 label-on-left" for="id_cargo">Grupo:</label>
                    <div class="col-lg-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <ex-autocomplete name="grupo" [service]="_g" [form]="form" [item]="_form.item" [itemVal]="itemGrupo"></ex-autocomplete>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-horizontal">
                <div class="row">
                    <label class="col-lg-3 label-on-left" for="id_cargo">Empleados:</label>
                    <div class="col-lg-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <ex-multi #multi name="empleados" (complete)="completeAjax($event)" placeholder="Seleccione los empleados" [form]="form" [service]="_p" [render]="itemEmpleado" [item]="_form.item"></ex-multi>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div bottom-form class="row">
        <div class="col-lg-6">
            <div class="form-horizontal">
                <div class="row">
                    <label class="col-lg-3 label-on-left" for="id_cargo">Ciclico:</label>
                    <div class="col-lg-9">
                        <ex-interval></ex-interval>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ex-form>
