<mat-sidenav-container class="example-container" (window:resize)="onResize($event)">
    <mat-sidenav #sidenav class="example-sidenav">
        <ex-sidebar></ex-sidebar>
    </mat-sidenav>

    <div class="example-sidenav-content">
        <ex-toolbar title="Exile" (sidenavClick)="sidenav.toggle()">
            <button mat-menu-item (click)="onLogout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </ex-toolbar>
        <div class="main-content">
            <ex-miga></ex-miga>
            <div class="flex">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mat-sidenav-container>
