<div *ngIf="!!form" [formGroup]="form">
    <mat-form-field style="width: 100%">
        <input *ngIf="!!name" matInput [matAutocomplete]="auto" [formControlName]="name" (focus)='filterVal(null)' (keydown)="filterVal($event.target.value !== ''?$event.target.value:null)">
        <input *ngIf="!name" matInput [matAutocomplete]="auto" (focus)='filterVal(null)' (keydown)="filterVal($event.target.value !== ''?$event.target.value:null)">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of options" [value]="option.id">{{render(option)}}</mat-option>
    </mat-autocomplete>
</div>
<div *ngIf="!form">
    <mat-form-field style="width: 100%">
        <input matInput [matAutocomplete]="auto" (focus)='filterVal(null)' (keydown)="filterVal($event.target.value !== ''?$event.target.value:null)">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of options" [value]="option.id">{{render(option)}}</mat-option>
    </mat-autocomplete>
</div>
